<div class="jumbotron text-center">
  <h1>All shoes</h1>
</div>
<div class="container">
  <div class="row">
    <% for (var i = 0; i<shoes.length; i++){%>
      <div class="col-sm-4">
        <a href="/<%=shoes[i].id%>"><h3><%=shoes[i].name%></h3></a>
        <img src=<%=shoes[i].image%>>
        <p>Colorway: <%=shoes[i].colorway%></p>
        <p>Material: <%=shoes[i].materials%></p>
        <p>Price: <%=shoes[i].price%></p>
        <p>Year: <%=shoes[i].year%></p>
      </div>
    <%}%>
  </div>
</div>
