<h1>All shoes</h1>
<% for (var i = 0; i<shoes.length; i++){%>
  <h3><%=shoes[i].name%></h3>
  <p><%=shoes[i].colorway%></p>
  <p><%=shoes[i].material%></p>
  <p><%=shoes[i].price%></p>
  <p><%=shoes[i].year%></p>
  <p><%=shoes[i].image%></p>
<%}%>
