<h1>All shoes</h1>
<% for (var i = 0; i<shoes; i++){%>
  <h3><%=name[i]=></h3>
  <p><%=colorway[i]=></p>
  <p><%=material[i]=></p>
  <p><%=price[i]=></p>
  <p><%=year[i]=></p>
  <p><%=image[i]=></p>
<%}%>
