<div class="jumbotron text-center">
  <h1>All shoes</h1>
</div>
<div id = "shoe">
  <h3><%=shoe.name%></h3>
  <img src="<%=shoe.image%>">
  <p><%=shoe.colorway%></p>
  <p><%=shoe.material%></p>
  <p><%=shoe.price%></p>
  <p><%=shoe.year%></p>
  <span class = "glyphicon glyphicon-thumbs-up text-info"></span>
  <span class = "glyphicon glyphicon-thumbs-down text-info"></span>
  <a href="/<%= shoe.id %>/edit">edit</a>

  <form action="/<%= shoe.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="update">
  </form>

  <form class="delete" action="/<%= shoe.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>

</div>



