<div class="jumbotron text-center">
  <h1>All shoes</h1>
</div>
<h3><%=shoe.name%></h3>
<p><%=shoe.colorway%></p>
<p><%=shoe.material%></p>
<p><%=shoe.price%></p>
<p><%=shoe.year%></p>
<p><%=shoe.image%></p>
