<div class="jumbotron text-center">
  <h1>All shoes</h1>
</div>
<div id = "shoe">
  <h3><%=shoe.name%></h3>
  <img src="<%=shoe.image%>">
  <p>Colorway: <%=shoe.colorway%></p>
  <p>Materials: <%=shoe.materials%></p>
  <p>Price(USD): <%=shoe.price%></p>
  <p>Year: <%=shoe.year%></p>
  <div id = "thumbs">
    <span id = "up" class = "glyphicon glyphicon-thumbs-up text-info"></span>
    <p id = "increment"></p>
    <span id = "down" class = "glyphicon glyphicon-thumbs-down text-info"></span>
  </div>

  <div id = "buttons">
    <button><a href="/<%= shoe.id %>/edit">edit</a></button>
    <form action="<%= shoe.id %>/users" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="shoerack">
    </form>

    <form class="delete" action="/<%= shoe.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </div>
</div>



